.food-list {
    width: 410px;
    margin: 0 auto;
}
.food-list ol {
    list-style-type: none;
    margin: 30px;
    margin-left: 1em;
    padding: 0;
    counter-reset: li-counter;
}
.food-list ol li {
    position: relative;
    margin-bottom: 1.5em;
    padding: 0.5em;
    background-color: #f0d756;
    padding-left: 58px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
}

.food-list li:hover {
    box-shadow: inset -1em 0 #6cd6cc;
    transition: box-shadow 0.5s;
    cursor: pointer;
}

.food-list ol li:before {
    position: absolute;
    top: -0.3em;
    left: -0.5em;
    width: 1.8em;
    height: 1.2em;
    font-size: 2em;
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #6cd6cc;
    transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    z-index: 20;
    overflow: hidden;
    content: counter(li-counter);
    counter-increment: li-counter;
}
